<article
  class="chat"
  [class.chat-start]="!isUser()"
  [class.chat-end]="isUser()"
>
  <div class="chat-image avatar">
    <div class="w-10 rounded-full">
      <img alt="Chat bubble" width="40" height="40" [ngSrc]="image()" />
    </div>
  </div>
  <div class="chat-header">
    {{ sender() }}
    <time class="text-xs opacity-50">12:45</time>
  </div>
  <div class="chat-bubble" [class.chat-bubble-primary]="isUser()">
    @if(hasMessage()){
    <pre class="whitespace-break-spaces">{{ message().content }}</pre>
    } @else {
    <span class="loading loading-dots loading-sm"></span>
    }
  </div>
  <div class="chat-footer opacity-50">Delivered</div>
</article>
