<main
  class="grid grid-rows-[1fr_100px] mx-auto max-w-screen-lg overflow-hidden"
>
  <section #scrollable class="overflow-y-auto h-[calc(100vh-100px)] p-4">
    @if (!isLlmLoaded()) {
    <div class="flex flex-col gap-48">
      <app-llm-progress />
      <app-chat-brand />
    </div>
    } @else { @if (hasMessages()) {
    <app-messages [scrollable]="scrollable" />
    } @else {
    <div class="flex flex-col items-center justify-center h-full gap-8">
      <app-chat-brand />
      <app-templates />
    </div>

    } }
  </section>
  <section class="px-4 pb-4">
    <app-prompt />
  </section>
</main>
