<header class="z-10 flex items-center h-[60px] px-4 mx-auto max-w-screen-lg">
  <div class="flex justify-end flex-1">
    <app-theme-btn />
  </div>
</header>
<main class="grid grid-rows-[1fr_100px] overflow-hidden">
  <section #scrollable class="overflow-y-auto h-[calc(100vh-160px)]">
    @if (!isLlmLoaded()) {
    <app-llm-progress />
    <div class="fixed top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2">
      <app-chat-brand />
    </div>
    } @else { @if (hasMessages()) {
    <div class="h-full p-4 mx-auto max-w-screen-lg">
      <app-messages [scrollable]="scrollable" />
    </div>
    } @else {
    <div
      class="flex flex-col items-center justify-center h-full gap-8 p-4 mx-auto max-w-screen-lg"
    >
      <app-chat-brand />
      <app-templates />
    </div>

    } }
  </section>
  <section class="px-4 w-full h-full mx-auto max-w-screen-lg">
    <app-prompt />
  </section>
</main>
