<section class="fixed bottom-4 right-4 left-4 grid place-items-center">
  @if (isLlmLoaded() && !isLlmBusy()) {
  <div class="flex gap-2 items-center relative w-full max-w-screen-lg">
    <textarea
      rows="1"
      class="textarea textarea-bordered flex-1 min-h-12 max-h-48 resize-none rounded-3xl pr-10"
      [placeholder]="promptPLaceholder"
      #textareaRef
      [ngModel]="message()"
      (ngModelChange)="onMessageChange(textareaRef, $event)"
      (keydown.enter)="submitMessage($event)"
    ></textarea>
    <button
      class="btn btn-circle btn-sm absolute bottom-2 right-2"
      [class.pointer-events-none]="!hasMessage()"
      [class.btn-primary]="hasMessage()"
      (click)="submitMessage($event)"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        fill="none"
        viewBox="0 0 32 32"
        class="icon-2xl"
      >
        <path
          fill="currentColor"
          fill-rule="evenodd"
          d="M15.192 8.906a1.143 1.143 0 0 1 1.616 0l5.143 5.143a1.143 1.143 0 0 1-1.616 1.616l-3.192-3.192v9.813a1.143 1.143 0 0 1-2.286 0v-9.813l-3.192 3.192a1.143 1.143 0 1 1-1.616-1.616z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </button>
  </div>
  } @else {
  <div class="skeleton min-h-12 rounded-3xl w-full max-w-screen-lg"></div>
  }
</section>
