<button
  (click)="loadTemplate()"
  type="button"
  class="btn btn-ghost dark:bg-neutral dark:hover:bg-slate-700 dark:text-neutral-content shadow-md flex flex-col items-center justify-center rounded-2xl gap-4 p-6 min-h-[auto] w-full h-full"
>
  <div class="w-8 h-8 text-center flex-1">
    <div
      role="img"
      [appRenderSvg]="template().svg"
      [style.color]="template().hexColor || 'currentColor'"
    ></div>
  </div>
  <div class="flex-1">
    <p>{{ template().label }}</p>
  </div>
</button>
